<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<body>

<!--/*@thymesVar id="envValues" type="com.github.vimcmd.ldapPhonebook.controller.UserController"*/-->
<div th:each="value : ${envValues}">
    <div th:text="${value}"></div>
</div>
<br/>

<!--/*@thymesVar id="allUsers" type="com.github.vimcmd.ldapPhonebook.controller.UserController"*/-->
<div th:each="user : ${foundUsers}">

    <div th:text="${user.samAccountName}"></div>
    <div th:text="${user.fullName}"></div>
    <div th:text="${user.department}"></div>
    <div th:text="${user.title}"></div>
    <div th:text="${user.telephoneNumber}"></div>
    <div th:text="${user.otherTelephone}"></div>
    <br/>

</div>




</body>
</html>