<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>PhoneBook</title>
    <style>
        table {
            border: solid 1px #f5f5f5;
        }

        thead {
            background-color: #d6d6d6;
            font-weight: bold;
            /*color: white;*/
        }

        tbody tr:nth-child(even) {
            background-color: #ffffff;
        }

        tbody tr:nth-child(odd) {
            background-color: #f4f4f4;
        }

        th, td {
            padding: 0.2em;
            min-width: 5em;
        }
    </style>
</head>
<body>

<!--&lt;!&ndash;/*@thymesVar id="envValues" type="com.github.vimcmd.ldapPhonebook.controller.UserController"*/&ndash;&gt;-->
<!--<div th:each="value : ${envValues}">-->
    <!--<div th:text="${value}"></div>-->
<!--</div>-->
<!--<br/>-->

<!--/*@thymesVar id="foundCount" type="com.github.vimcmd.ldapPhonebook.controller.UserController"*/-->
<div th:text="'Results found: ' + ${foundCountTotal}"></div>
<br/>

<!--/*@thymesVar id="usersGroupedByDepartment" type="com.github.vimcmd.ldapPhonebook.controller.UserController"*/-->
<div th:each="group : ${usersGroupedByDepartment}" >

    <h3 th:text="${group[0].department}" ></h3>

    <table style="word-break:break-all; table-layout:fixed" cellspacing="0" cellpadding="0" width="100%">
        <!--<thead>-->
            <!--<tr>-->
                <!--<th>Job Title</th>-->
                <!--<th>Full Name</th>-->
                <!--<th>Telephone number</th>-->
                <!--<th>Other telephone number</th>-->
            <!--</tr>-->
        <!--</thead>-->
        <tbody th:each="user : ${group}">
            <tr>
                <td th:text="${user.title}"></td>
                <td><a th:title="'samAccountName: ' + ${user.samAccountName}" th:text="${user.fullName}" th:href="'mailto:' + ${user.mail}"></a></td>
                <td th:text="${user.telephoneNumber}"></td>
                <td th:text="${user.otherTelephone}"></td>
            </tr>
        </tbody>
    </table>

    <br/>

</div>


</body>
</html>